In [168]:
#importing necessary libraries 

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import pandas as pd
nltk.download('punkt')
nltk.download('wordnet')
import string
from bs4 import BeautifulSoup
import re

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [169]:
#loads the submit_data from Github

FakeUrl = 'https://raw.githubusercontent.com/SushruthDt/TEAM_D_data606/main/FakeNews_data/Fake.csv'
fake = pd.read_csv(FakeUrl)
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [170]:
#loads the test_data from Github 

true_url = 'https://raw.githubusercontent.com/SushruthDt/TEAM_D_data606/main/FakeNews_data/True.csv'
true = pd.read_csv(true_url)
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [171]:
# Adding target variable 
fake['Target']=1
true['Target']=0

In [172]:
# concatinating both the data set 
frames = [fake, true]
df = pd.concat(frames)
df.sample(10)

,title,text,subject,date,Target
6220,John Oliver Offers Harsh Critique Of Dem Prim...,Is the primary process in the United States me...,News,"May 23, 2016",1
8064,Judge dismisses case against North Carolina's ...,NEW YORK (Reuters) - A federal judge threw out...,politicsNews,"September 21, 2016",0
6237,WATCH: Racist Anti-Muslim Protesters Didn’t E...,A group of anti-Muslim protesters descended on...,News,"May 22, 2016",1
2083,"Trump OKs sending 4,000 more troops to Afghani...",WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"August 21, 2017",0
5348,OK Cop Shoots Family Dog During Child’s Birth...,Noah Malone was celebrating his fifth birthday...,News,"July 23, 2016",1
20958,SHARIA LAW GRANTS MUSLIM MAN Permission To Mar...,Are you ready for these pedophiles to move in ...,left-news,"Feb 24, 2016",1
20552,WATCH: FOX Host DESTROY Race Enthusiast Juan W...,Watch Juan Williams make several attempts to s...,left-news,"May 19, 2016",1
12891,Syrian govt delegation to return to Geneva on ...,BEIRUT (Reuters) - Syrian President Bashar al-...,worldnews,"December 7, 2017",0
20328,“Trumpocalypse”: HACKED EMAIL EXPOSES DEMOCRAT...,Let that sink in A major party in America is p...,left-news,"Jul 6, 2016",1
13747,BUSTED! HERE’S WHY HILLARY CLINTON’S Brother-I...,Roger Clinton got busted for a DUI on Sunday b...,politics,"Jun 6, 2016",1

In [173]:
df.reset_index(inplace=True) # resetting the duplicate indexes

In [174]:
df['content'] = df['title'] + " " + df['text']
print(df['content'])

0         Donald Trump Sends Out Embarrassing New Year’...
1         Drunk Bragging Trump Staffer Started Russian ...
2         Sheriff David Clarke Becomes An Internet Joke...
3         Trump Is So Obsessed He Even Has Obama’s Name...
4         Pope Francis Just Called Out Donald Trump Dur...
                               ...
44893    'Fully committed' NATO backs new U.S. approach...
44894    LexisNexis withdrew two products from Chinese ...
44895    Minsk cultural hub becomes haven from authorit...
44896    Vatican upbeat on possibility of Pope Francis ...
44897    Indonesia to buy $1.14 billion worth of Russia...
Name: content, Length: 44898, dtype: object

In [175]:
df.drop(["date"],axis=1,inplace=True)
df.drop(["subject"],axis=1,inplace=True)
df

,index,title,text,Target,content
0,0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,1,Donald Trump Sends Out Embarrassing New Year’...
1,1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,1,Drunk Bragging Trump Staffer Started Russian ...
2,2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",1,Sheriff David Clarke Becomes An Internet Joke...
3,3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",1,Trump Is So Obsessed He Even Has Obama’s Name...
4,4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,1,Pope Francis Just Called Out Donald Trump Dur...
...,...,...,...,...,...
44893,21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,0,'Fully committed' NATO backs new U.S. approach...
44894,21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",0,LexisNexis withdrew two products from Chinese ...
44895,21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,0,Minsk cultural hub becomes haven from authorit...
44896,21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,0,Vatican upbeat on possibility of Pope Francis ...
44897,21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,0,Indonesia to buy $1.14 billion worth of Russia...

In [176]:
def punctuation_removal(text):
    all_list = [char for char in text if char not in string.punctuation]
    clean_str = ''.join(all_list)
    return clean_str

In [177]:
#Remove stopwords:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

def rem_en(input_txt):
    words = input_txt.lower().split()
    noise_free_words = [word for word in words if word not in stop] 
    noise_free_text = " ".join(noise_free_words) 
    return noise_free_text

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [178]:
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import sent_tokenize, word_tokenize
tokeniser = RegexpTokenizer(r'w+')

from nltk.stem import WordNetLemmatizer
lemmatiser = WordNetLemmatizer()

In [179]:
"""
def text_process(text):
  df["content"] = df["content"].apply(lambda x: x.lower()) #lower
  df["content"] = df["content"].apply(punctuation_removal) #punc
  df["content"] = df["content"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)])) #stopwords
  df["content"] = df["content"].apply(lambda s: ' '.join(re.sub("(w+://S+)", " ", s).split())) #url
  df["content"].replace('d+', '', regex=True, inplace=True) #numb
  df["content"] = df["content"].apply(lambda s: rem_en(s)) #stop words
  df["content"] = df["content"].apply(lambda x: tokeniser.tokenize(x)) #tokenize
  df["content"] = df["content"].apply(lambda tokens: [lemmatiser.lemmatize(token, pos='v') for token in tokens]) #lemmatize
  return df["content"]

"""

'\ndef text_process(text):\n  df["content"] = df["content"].apply(lambda x: x.lower()) #lower\n  df["content"] = df["content"].apply(punctuation_removal) #punc\n  df["content"] = df["content"].apply(lambda x: \' \'.join([word for word in x.split() if word not in (stop)])) #stopwords\n  df["content"] = df["content"].apply(lambda s: \' \'.join(re.sub("(w+://S+)", " ", s).split())) #url\n  df["content"].replace(\'d+\', \'\', regex=True, inplace=True) #numb\n  df["content"] = df["content"].apply(lambda s: rem_en(s)) #stop words\n  df["content"] = df["content"].apply(lambda x: tokeniser.tokenize(x)) #tokenize\n  df["content"] = df["content"].apply(lambda tokens: [lemmatiser.lemmatize(token, pos=\'v\') for token in tokens]) #lemmatize\n  return df["content"]\n\n'

In [180]:
df["content1"] = df["content"]
df["content1"] .head()

0     Donald Trump Sends Out Embarrassing New Year’...
1     Drunk Bragging Trump Staffer Started Russian ...
2     Sheriff David Clarke Becomes An Internet Joke...
3     Trump Is So Obsessed He Even Has Obama’s Name...
4     Pope Francis Just Called Out Donald Trump Dur...
Name: content1, dtype: object

In [181]:
df["content"] = df["content"].apply(lambda x: x.lower())
df["content"] = df["content"].apply(lambda s: rem_en(s)) #stop words
df["content"] = df["content"].apply(punctuation_removal) #punc
df["content"] = df["content"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)])) #stopwords
df["content"] = df["content"].apply(lambda s: ' '.join(re.sub("(w+://S+)", " ", s).split())) #url
df['content'] = df['content'].str.replace(r'[^\w\s]+', '') #punchtion
df['content'] = df['content'].apply(sent_tokenize) 
df["content"] = df["content"].apply(lambda tokens: [lemmatiser.lemmatize(token, pos='v') for token in tokens]) #lemmatize
df["content"] = df["content"].apply(lambda x: ' '.join(x))


df["content"] .head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

0    donald trump sends embarrassing new years eve ...
1    drunk bragging trump staffer started russian c...
2    sheriff david clarke becomes internet joke thr...
3    trump obsessed even obamas name coded website ...
4    pope francis called donald trump christmas spe...
Name: content, dtype: object

In [182]:

# Vectorizing and applying TF-IDF
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import accuracy_score
"""
pipe_LR = Pipeline([
                    ('vect', CountVectorizer()),
                # ('tfidf', TfidfTransformer()),
                 ('model', LogisticRegression())])
# Fitting the model
model_LR = pipe_LR.fit(X_train, y_train)
# Accuracy
prediction_LR = model_LR.predict(X_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction_LR)*100,2)))
"""

'\npipe_LR = Pipeline([\n                    (\'vect\', CountVectorizer()),\n                # (\'tfidf\', TfidfTransformer()),\n                 (\'model\', LogisticRegression())])\n# Fitting the model\nmodel_LR = pipe_LR.fit(X_train, y_train)\n# Accuracy\nprediction_LR = model_LR.predict(X_test)\nprint("accuracy: {}%".format(round(accuracy_score(y_test, prediction_LR)*100,2)))\n'

In [183]:
from sklearn.model_selection import train_test_split

def load_up_classifier_clean(classifier):
    X_train,X_test,y_train,y_test = train_test_split(df['content'], df["Target"], test_size=0.25, random_state=20)
    
    pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', classifier)])
    
    model = pipe.fit(X_train, y_train)
    prediction = model.predict(X_test)
    probs = model.predict_proba(X_test)
        
    return model, probs, y_test, X_test

In [184]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [185]:
model_LR, probs, y_test,X_test = load_up_classifier_clean(classifier=LogisticRegression())
model_RFC, probs, y_test,X_test = load_up_classifier_clean(classifier=RandomForestClassifier(n_estimators=50, criterion="entropy"))
model_GB, probs, y_test,X_test = load_up_classifier_clean(classifier= GradientBoostingClassifier(loss = 'deviance',
                                                   learning_rate = 0.01,
                                                   n_estimators = 10,
                                                   max_depth = 5,
                                                   random_state=55))
model_DTC, probs, y_test,X_test = load_up_classifier_clean(classifier=DecisionTreeClassifier(criterion= 'entropy',
                                           max_depth = 20, 
                                           splitter='best', 
                                           random_state=88))

In [186]:
#testing for LR -- Ignore


model_LR, probs, y_test,X_test = load_up_classifier_clean(classifier=LogisticRegression())

# Accuracy
prediction_LR = model_LR.predict(X_test)
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction_LR)*100,2)))

accuracy: 98.87%

In [187]:
print(f'Test score: {model_LR.score(X_test, y_test):.2%}')

y_test_LR = model_LR.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_LR))

Test score: 98.87%
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5364
           1       0.99      0.99      0.99      5861

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

In [188]:

print('---------------------------------------')

print(f'model_LR Test score: {model_LR.score(X_test, y_test):.2%}')
print(f'model_RFC Test score: {model_RFC.score(X_test, y_test):.2%}')
print(f'model_GB Test score: {model_GB.score(X_test, y_test):.2%}')
print(f'model_DTC Test score: {model_DTC.score(X_test, y_test):.2%}')

print('---------------------------------------')

---------------------------------------
Test score: 98.87%
Test score: 98.90%
Test score: 99.37%
Test score: 99.58%
---------------------------------------

In [189]:
y_test_LR = model_LR.predict(X_test)
y_test_RFC = model_RFC.predict(X_test)
y_test_GB = model_GB.predict(X_test)
y_test_DTC= model_DTC.predict(X_test)


from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_LR))
print(classification_report(y_test, y_test_RFC))
print(classification_report(y_test, y_test_GB))
print(classification_report(y_test, y_test_DTC))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5364
           1       0.99      0.99      0.99      5861

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5364
           1       0.99      0.99      0.99      5861

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5364
           1       0.99      1.00      0.99      5861

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5364
           1       1.00      1.00      1.00      5861

    accuracy                           1.00     11225
   macro avg       1.00      1.00      1.00     11225
weighted avg       1.00      1.00      1.00     11225

In [191]:
print('---------------------------------------')

print(f'Test score: {model_LR.score(X_test, y_test):.2%}')
print('---------------------------------------')

---------------------------------------
Test score: 98.87%
---------------------------------------

In [192]:
y_test_KPCAp = model_LR.predict(X_test)
y_testp__KPCAlgp = model_LR.predict_proba(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_KPCAp))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5364
           1       0.99      0.99      0.99      5861

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

In [193]:
import pickle
#pipe_LR
#model_LR

In [194]:
filename = 'trained_model.sav'
pickle.dump(model_LR, open(filename, 'wb'))

In [195]:
# loading the saved model
loaded_model = pickle.load(open('trained_model.sav', 'rb'))

In [196]:
stemmer = nltk.PorterStemmer()
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    text = ' '.join([word for word in text.split() if word not in (stop)])#stopwords
    text =' '.join(re.sub("(w+://S+)", " ", text).split())#url
    text = rem_en(text)
    tokens = re.split('\W+', text)
    text = punctuation_removal(text)
    text = ''.join([i for i in text if not i.isdigit()])
    text = text.lower()
    text = text.split()
    text = [stemmer.stem(word) for word in text if not word in stopwords.words('english')]
    text = ' '.join(text)
    #text = [stemmer.stem(word) for word in tokens if word not in stopwords]
    return text

In [197]:
import pandas as pd
import io 
text = ['9 Thunderstorms is In  the Baltimore County! - Forecast: National Weather Service']
input_data_reshaped1 = clean_text(text)
print(input_data_reshaped1)

thunderstorm baltimor counti forecast nation weather servic

In [198]:
"""
# converting the textual data to numerical data
from sklearn.feature_extraction.text import TfidfVectorizer
input_data_reshaped = [input_data_reshaped]
vectorizer = TfidfVectorizer()
vectorizer.fit(input_data_reshaped)
input_data_reshaped = vectorizer.transform(input_data_reshaped) """

'\n# converting the textual data to numerical data\nfrom sklearn.feature_extraction.text import TfidfVectorizer\ninput_data_reshaped = [input_data_reshaped]\nvectorizer = TfidfVectorizer()\nvectorizer.fit(input_data_reshaped)\ninput_data_reshaped = vectorizer.transform(input_data_reshaped) '

In [199]:
input_data_reshaped1 =[input_data_reshaped1]
prediction = loaded_model.predict(input_data_reshaped1)
print(prediction)

[1]

In [201]:
model_file_list = [r"/models/model_LR.sav","/models/model_RFC.sav","/models/model_GB.sav","/models/model_DTC.sav"]

model_list = [model_LR,model_RFC,model_GB,model_DTC]

for model, filename in zip(model_list, model_file_list):
    pickle.dump(model, open(filename, 'wb'))

FileNotFoundError: ignored